# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Node
node_modules/

# Jupyter
.ipynb_checkpoints/

# Data (VERY IMPORTANT)
data/
*.csv
*.zip
*.tar.gz

# System
.DS_Store
.nvm/
.vscode/
.idea/

# Trained models
models/
*.pkl
*.onnx
*.onnx.data

# Large trained models
models/
huggingface_deployment/
*.onnx
*.onnx.data

# Allow small preprocessing objects
!dataloaders/*.pkl


